html(lang='en')
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(charset='UTF-8')
    title Final FantasyXV Festival
    link(rel='stylesheet prefetch', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet prefetch', href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
    link(rel="icon", href="https://i.imgur.com/TkId2V2.png", type="image/png")

block body_navigation
  include navigation     
body
  #staff
    section.banner(style="padding-bottom: 0")
      .container
        .row.animated.fadeInUp
          .title STAFF
          .detail 工作人員
        .row
          .bit

    section.list.hidden-xs
      .container
        ul.nav.navbar-nav
            li
              a(style="padding-left: 0") Coming soon...



    section#coser.content
      .container
        .row
          .col-sm-2.col-xs-12
          .col-sm-8.col-xs-12
            .title 10月公布 ◆ 敬請期待



    section#footer
      .container
        .col-sm-6.col-xs-12
          .row
            .footer_logo
              .logo_word FINALFANTASY XV 
              .logo_word FESTIVAL
        .col-sm-6.col-xs-12
          .row
            .footer_info
              .info_word 王者之劍部隊
              .info_word ffxvinsomnia@gmail.com
